{% extends "layout.html" %}

{% block styles %}
    <link href="{{ url_for('static', filename='./css/index.css') }}" rel="stylesheet">
{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}

    {% if session_username is defined %}

        <h1 style="text-align:center">Welcome [ {{ session_username }} ] to Farmer Analyzer of Local Produce (FALP)!</h1>

    {% else %}

        <h1 style="text-align:center">Tanzania - Farmer Analyzer of Local Produce (FALP)</h1>

    {% endif %}

    <center>
    <div class="pic_in_cell">
        <img src="{{ url_for('static', filename='./img/farmer.jpg') }}" alt="FALP" }}>
    </div>
<!--        <img src="farm.jpg" alt="FALP" width="500" height="600" style="vertical-align:middle" /> </div> -->

    <div id="forms">
        {% if session_username is defined %}

            <div class="btn-group btn-group-lg">
                <form action="/logout" method="POST">
                    <button name="btnlogout" type="submit" class="btn btn-primary" style="margin:20px;color:white;background-color:red">Log Out</button> 
                </form>
                <button name="btndashboard" type="button" class="btn btn-primary" onClick="location.href='/dashboard'">Dashboard</button>
                <button name="btnforecast" type="button" class="btn btn-primary" onClick="location.href='/'">...</button>
            </div>

        {% else %}
            <div class="btn-group btn-group-lg">
                <button name="btnlogin" type="button" class="btn btn-primary" onClick="location.href='/login'">Log In</button>
                <button name="btnsignup" type="button" class="btn btn-primary" onClick="location.href='/signup'">Sign Up</button>
                <button name="btnteam" type="button" class="btn btn-primary" onClick="location.href='/team'">Team...</button>
            </div>
        {% endif %}
    </div>
    </center>

{% endblock %}